.c-link {
  &:hover {
    color: rgb(var(--color-primary));
    text-shadow: 1px 1px 0 rgb(var(--color-secondary));

    .c-link__symbol {
      margin-right: 0.25rem;
    }
  }

  .c-link__symbol {
    transition: margin-right 0.2s;
  }
}